<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.kakaopaytest.config.LoginMapper">
    <select id="findByUserid" parameterType="String" resultType="com.test.kakaopaytest.config.AdminAccount">
        select * from admin where userId=#{userId}
    </select>
</mapper>