<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.kakaopaytest.test.TestMapper">
    <select id="selectTest" resultType="com.test.kakaopaytest.test.DbTest">
        select * from test
    </select>

    <insert id="saveData" parameterType="com.test.kakaopaytest.test.Test">
        insert into board(userId, userPw, title, contents)
        values(#{userId}, SHA2(#{userPw},256), #{title}, #{contents})
    </insert>

    <select id="getData" resultType="com.test.kakaopaytest.test.Test">
        select * from board
    </select>

    <select id="getDataDetail" resultType="com.test.kakaopaytest.test.Test">
        select * from board where seq = #{seq}
    </select>

    <select id="chkAuthData" parameterType="com.test.kakaopaytest.test.Test" resultType="int">
        select count(*) from board
        where userId=#{userId}
            and userPw=SHA2(#{userPw},256)
            and seq=#{seq}
    </select>

    <select id="selectResUserId" parameterType="com.test.kakaopaytest.test.Test" resultType="String">
        select resUserId from board
        where seq=#{seq}
    </select>

    <update id="updateResUserId" parameterType="com.test.kakaopaytest.test.Test">
        update board set
            resUserId= #{resUserId}
        where seq=#{seq}
    </update>

    <update id="updateResContents" parameterType="com.test.kakaopaytest.test.Test">
        update board set
            resContents= #{resContents},
            resYmdt=now()
        where seq=#{seq}
    </update>
</mapper>